[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eshrink"]
	path = eshrink
	url = https://github.com/kpkeller/eshrink
[submodule "spconf"]
	path = spconf
	url = https://github.com/cran/spconf
